body
	margin: 0
	padding: 0
	background: #f5f5f5

p
	font-size: 12px

.app
	i
		background: #ccc
		font-size: 30px
		padding: 3%
		width: 18.6%
		text-align: center

.banner
	width: 100%
	top: 0
	position: absolute
	float: left
	font-size: 17px
	color: #fff

	.presentation
		position: absolute
		top: 0
		padding: 7%

	.application &
		background-color: rgba(219, 134, 55, 0.3)

.button
	&-primary
		position: relative
		float: left
		margin-top: 1%

	&-video
		margin-top: 0.4%
		float: left

		&:hover
			text-decoration: underline

.centered-element
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.container-margin
	margin-top: 1.5%

.header
	padding-top: 0.8%
	padding-bottom: 0.8%
	background: #fff

	&-secondary
		position: relative
		float: left
		width: 100%
		background: #d94835
		color: #fff
		padding-top: 1%
		padding-bottom: 1%
		margin-bottom: 1%

		.application &
			background: #ff8b1a

		h3
			margin: 0

		a
			color: #fff

			&:hover
				text-decoration: underline

.news
	width: 100%
	background: #fff
	float: left
	padding: 4%

	.btn-primary
		background: none
		border: 0
		color: #d94835
		font-size: 21px
		margin: 0
		padding: 0

		&:focus
			background: none

	span
		color: #d94835
		font-weight: bold

	p
		margin: 0

.notification
	position: relative
	display: inline-block
	float: left
	padding: 3.5%
	width: 30%

	span
		display: inline-block
		padding-left: 6%
		padding-right: 6%

		i

			&:after
				position: absolute
				height: 10px
				width: 10px
				background: #000

		&:first-child
			margin-left: 5%

.item
	.btn-danger
		position: absolute
		bottom: 36px
		width: 33%
		left: 7%

.block
	position: relative
	float: left
	background: #fff
	padding: 2%
	width: 19%
	margin-right: 10px
	text-align: center

	&:first-child
		color: #f48e32

	&:nth-child(2)
		color: #32a9f4

	&:nth-child(3)
		color: #27bb7e

	&:nth-child(4)
		color: #806ac7

	&:last-child
		color: #d94835
		margin: 0

	p
		color: #666666

	h4
		font-weight: bold

.news-title
	margin: 0

.user
	float: right
	position: relative

	&-info
		position: relative
		float: right

.owl-dots
	position: absolute
	bottom: 0
	width: 100%

.fa
	&-exclamation-triangle
		color: #d80e0e

	&-exclamation-circle
		color: #ffa200

@media (max-width: 767px)

	.banner
		text-align: center

	.block
		width: 100%
		margin-bottom: 10px

@media (min-width: 770px)
	.block
		width: 18.8%
